<!DOCTYPE html>
<html id="top">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body style="background-color: #2acdb1;" >
		<div class="row">
			<h1>Example of Change the background color of page</h1>
			<div style="background-color: #ffd4ef;padding: 20px;">
				to change the background color of page, apply background-color property in style attribute. <br/>
				Ex: &lt;div style="background-color: red;"&gt;&lt;/div&gt;
			</div>
		</div>
		<div class="row" style="height: 900px;">
			<h1>Example of Scroll Down</h1>
			<div style="background-color: #a5d4ef;padding: 20px;">
				Please scroll down the page. Now, you can able to see 'Go to top' link. Click on that you will navigate to top of the page.<br/>
				Ex: &lt;a href="#top"&gt;Go to top&lt;/a&gt;<br/>
				In above anchor ( a ) tag contains href attribute. it navigates you to specified id given by you. the id which is placed in top of the page like as id="top" at html tag.
			</div>
		</div>
		<div class="row" style="padding: 30px;">
			<a href="#top"><h3 style="float: right;">Go to top</h3></a>
		</div>
	</body>
</html>