{% load static %}
<html>
<head>
    <title>HTML5 Web Page Layout</title>
    <link rel="stylesheet" href="{% static 'css/1.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1 style="font-size:18px;">College Infrastructure</h1>
        </header>
        <div class="row">
			<div class="left-column">
				<span>Library</span>
			</div>
			<div class="right-column">
				<span>In addition to supporting the joys of reading and research, the campus library can also be a space to enjoy a visual treat. At many college 
				libraries, you’ll find rotating exhibitions featuring photographs, books, maps, letters, ephemera, and other items drawn from their special 
				collections and archives.</span>
			</div>
		</div>
		<div class="row">
			<div class="left-column">
				<span>Auditorium</span>
			</div>
			<div class="right-column">
				<span>The auditorium is a central and important space in college lucky enough to have one. It is used for all types of formal assembly: 
				lectures, award ceremonies, dramatic plays, musical theatre productions, concert performances of orchestra, band, chorus, jazz band, battles of 
				the bands, dance competitions and so on. These varied events place a range of demands on the room. For all events, it is essential that everyone 
				in the room hear, clearly and enjoyably, everything that is presented. This is the goal of acoustical design for auditorium spaces.</span>
			</div>
		</div>
		<div class="row">
			<div class="left-column">
				<span>Labs</span>
			</div>
			<div class="right-column">
				<span>While computer labs are generally multipurpose, some labs may contain computers with hardware or software optimized for certain tasks or processes, 
				depending on the needs of the institution operating the lab. These specialized purposes include but may not be limited to video editing, stock trading,
				3-D design, and programming.</span>
			</div>
		</div>
		<div class="row">
			<div class="left-column">
				<span>Canteen</span>
			</div>
			<div class="right-column">
				<span>The college canteen is fairly new and provides enough and delicious food at affordable rates. We have the facility of spacious, clean and hygienic 
				canteens and cafeterias that caters to the taste of all students. Canteen can conveniently accommodate 150 students at a time in which variety of dishes 
				are available at most nominal rates. The canteen remains open on all working days. It provides all types of nutritious and hygienic eatables and 
				beverages to cater to the students, staff and visitors. Mess facilities are available with a well maintained dining hall adjacent to the hostel. 
				Vegetarian/non vegetarian meals are prepared hygienically.</span>
			</div>
		</div>
        <footer>
            <p style="text-align:center; margin:5px;">copyright &copy; college.com</p>
        </footer>
    </div>
</body>
</html>                            