{% load static %}
<html>
<head>
<title>cricket</title>
</head>
<body>
<h1 align='center'>Vintage Indian Cricket Players</h1>
<button>home</button>
<button>Sachin</button>
<button>Sehwag</a></button>
<button>Zaheer khan</a></button>
<button>Dhoni</button>
<hr>
<p>Cricket has a tremendous popularity around the world. People celebrate it like a festival while witnessing it from stadiums or homes. The cricketers also get huge love and support from their fans.</p>
<img src="{% static 'images/1.jpg' %}" width="400px" height="400px" align="left" ></img>
<img src="{% static 'images/2.jpg' %}" width="400px" height="400px" align="right"></img>
Cricket was introduced to the Indian subcontinent by British sailors in the 18th century, and the first cricket club was established in 1792. India's men's national cricket team played its first international match on 25 June 1932 in a Lord's Test against England becoming the sixth team to be granted Test cricket status. India had to wait until 1952, almost twenty years, for its first Test victory.<br> In its first fifty years of international cricket, success was limited, with only 35 wins in 196 Tests.The team, however, gained strength in the 1970s with the emergence of players like Sunil Gavaskar, Gundappa Viswanath, Kapil Dev, and the Indian spin quartet.
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<hr>
<h2 align="left">Sachin</h2>
<img src="{% static 'images/3.jpg' %}" width="350px" height="350px" ></img>
<img src="{% static 'images/4.jpg' %}" width="350px" height="350px" ></img>
<img src="{% static 'images/5.jpg' %}" width="350px" height="350px"  ></img>
<img src="{% static 'images/6.jpg' %}" width="350px" height="350px" ></img>
<p>He belongs to Mumbai. He has scored 15921 runs in 200 Test Matches with the help of 51 centuries and 68 half centuries. In ODI’s, he scored 18426 runs with the help of 49 centuries and 96 half centuries. He played International Cricket for 24 years and won various awards and trophies. He is regarded as the God of Cricket as he established records in every aspect of batting.</p>
<hr>
<h2 align="left">Sehwag</h2>
<img src="{% static 'images/7.jpg' %}" width="350px" height="350px" ></img>
<img src="{% static 'images/8.jpg' %}" width="350px" height="350px" ></img>
<img src="{% static 'images/9.jpg' %}" width="350px" height="350px" ></img>
<img src="{% static 'images/10.jpg' %}" width="350px" height="350px" ></img>
<p>This left arm pacer belongs to Maharashtra. He has taken 311 wickets in 92 Test Matches at an average of 32.95. He has taken 11 5-wicket hauls in Tests. In ODIs, he has taken 282 wickets at an average of 29.44. He has also scored 1230 runs in Test Matches. He played International Cricket for 14 years.</p>
<hr>
<h2>Zaheer khan</h2>
<img src="{% static 'images/11.jpg' %}" width="350px" height="350px" ></img>
<img src="{% static 'images/12.jpg' %}" width="350px" height="350px" ></img>
<img src="{% static 'images/13.jpg' %}" width="350px" height="350px" > </img>
<img src="{% static 'images/14.jpg' %}" width="350px" height="350px" ></img>
<p>This left arm pacer belongs to Maharashtra. He has taken 311 wickets in 92 Test Matches at an average of 32.95. He has taken 11 5-wicket hauls in Tests. In ODIs, he has taken 282 wickets at an average of 29.44. He has also scored 1230 runs in Test Matches. He played International Cricket for 14 years.</p>
<hr>
<h2>Dhoni</h2>
<img src="{% static 'images/15.jpg' %}" width="350px" height="350px"></img>
<img src="{% static 'images/16.jpg' %}" width="350px" height="350px"></img>
<img src="{% static 'images/17.jpg' %}" width="350px" height="350px"></img>
<img src="{% static 'images/18.jpg' %}" width="350px" height="350px"></img>
<p>He belongs to Ranchi. He has scored 4876 runs in 90 Test Matches with the help of 6 centuries and 33 half centuries. In ODI’s, he scored 10773 runs with the help of 10 centuries and 73 half centuries. While keeping the wickets, he has taken 256 catches in Tests and 321 in ODIs. He has been playing International Cricket since 2004 and is one of the greatest Indian Captains with many ICC and IPL trophies under his cap.</p>
<button><a href="{% url 'ind' %}">top </a> </button>
</body>
</html>