<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

.card {
     background-color: #91e30e;
	 padding: 20px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.leftcolumn .card h2 {
	color: #af1b43;
}
</style>
</head>
<body>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
		<h2><center><i><u>PY SPYDERS</u></i></center></h2>
		<marquee>Important notices here</marquee>
		<h5>About</h5>
		<!-- Unordered list -->
		<ul style="list-style-type:square"> <!--list-style-type: disc | circle | square | none -->
			
			<li><p>Python Full Stack course is more of job-oriented training which is designed as per current industry standards. You can start your career in IT industry with basic and advance skills.
                 Course will be trained by top industry experts who have passion to train students and help them get job in IT industry or excel in IT industry.</p></li>
		<!-- Ordered list -->
		<h5>Facilities</h5>
		<ol type="A" start="20"> <!-- type: 1 | A | a | I | i -->
		  <li>Digital Lab</li>
		  <li>Library</li>
		  <li>Training & Placement Cell</li>
		</ol>
		<!-- Description list -->
		<h5>Subjects List</h5>
		<dl>
		  <dt>python</dt>
		  <dd>- Basic to advance</dd>
		  <dt>Frame work</dt>
		  <dd>-django</dd>
		</dl>
		<!-- Nested list -->
		<h5>Exams List</h5>
		<ul>
		  <li>python</li>
			<ul>
				<li>mock</li>
				<li>grooming</li>
			</ul>
		  <li>django
			<ul>
				<li>mock</li>
				<li>grooming</li>
			</ul>
		  </li>
		</ul>
		<!-- Pre tag: The text inside a <pre> element is displayed in a fixed-width font (usually Courier), and it preserves both spaces and line breaks -->
		<h5>Goals: </h5>
		<pre>
		 <p>lets make the computer world 

         </p>
		</pre>
    </div>
  </div>
</div>
</body>
</html>