{% load static %}
<html>
<head>
<title> biryani</title>
</head>
<body>
<h1 align='center'>BIRYANI</h1>
<button><a href="{% url 'about' %}">About</a></button>
<button><a href="{% url 'city' %}">Cities</a></button>
<button><a href="{% url 'cont' %}">Contact us</a></button>
<hr>
<p><b>The modern biryani developed in the royal kitchens of the Mughal Empire (1526–1857) and is a mix of the native spicy rice dishes</b></p>
<img src="{% static 'images/b.jpg' %}" width="400px" height="400px" align="left"> </img>
<img src="{% static 'images/eat.jpg' %}" width="400px" height="400px" align="right"></img>
It is said that Mumtaz once visited the army barracks and found the Mughal soldiers looking weak and undernourished. She asked the chef to prepare a special dish that combined meat and rice to provide balanced nutrition to the soldiers
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h2 align="left">varieties</h2>
<p>India is renowned for its extensive and varied culinary traditions, but one of its most well-known dishes is THE BIRYANI. There are around <b>26 different varieties of biryani in India,</b> with variations found in almost every area.</p>
</body>
</html>