<html>
	<head>
		<title>User Form</title>
	</head>
	<body>
		<h1 align="center">User Form</h1>
		<form action="">
			<fieldset>
				<legend>Form</legend>
				<label>Name:</label> 
				<br/>
				<input type="text" name="username"/>
				<br/>
				<label>Age:</label> 
				<br/>
				<input type="number" name="age"/>
				<br/>
				<label>Address: </label> 
				<br/>
				<textarea name="address" rows="3" cols="50"></textarea>
				<br/>
				<label>Favorote Subject:</label> 
				<br/>
				<input type="text" name="favorite_subject"/>
				<br/>
				<label>Movie:</label> 
				<br/>
				<input type="text" name="movie"/>
				<br/>
				<label>Singer:</label> 
				<br/>
				<input type="text" name="singer"/>
				<br/><br/>
				<button type="submit">Submit</button>
			</fieldset>
		</form>
	</body>
</html>